<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report index</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/style/bootstrap.min.css}">

    <!-- jQuery library -->
    <script th:src="@{/js/lib/jquery.min.js}" type="text/javascript"></script>

    <!-- Popper JS -->
    <script th:src="@{/js/lib/popper.min.js}" type="text/javascript"></script>

    <!-- Latest compiled JavaScript -->
    <script th:src="@{/js/lib/bootstrap.min.js}" type="text/javascript"></script>
    <script>
        let currentPage = "report";
        let currentPageText = "Report index";
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var isAuthenticated = /*[[${auth}]]*/ 'false';
        console.log("isAuthenticated = " + isAuthenticated);

        /*]]>*/
    </script>
</head>
<body>

<div th:include="/navbar.html">

</div>
<div class="container">
    <div id="main" class="jumbotron m-2 p-2">
        Reports links are provided on this page.
        <br>
        <div class="btn-group btn-group-lg btn-group-justified d-flex mt-2" role="group" aria-label="Basic example">
            <a class='m-3 p-2 btn btn-success' th:href='@{/reports/sales_report}'>
                Sales by period report <span class='fas fa-edit'></span>
            </a>
            <a class='m-3 p-2 btn btn-success' th:href='@{/reports/sales_diff_report}'>
                Sales difference by period report <span class='fas fa-archive'></span>
            </a>
            <a class='m-3 p-2 btn btn-success' th:href='@{/reports/item_quantity_report}'>
                Item quantity by period report <span class='fas fa-archive'></span>
            </a>
            <a class='m-3 p-2 btn btn-success' th:href='@{/reports/active_users_report}'>
                Active users by period report <span class='fas fa-address-book'></span>
            </a>
        </div>
    </div>
</div>

<div th:include="/footer.html"></div>

</body>
</html>